{% extends "layout.html" %}

{% block title %} Success {% endblock %}


{% block main%}
    <div id="disabled">
    <div class="container p-5" id="text" method="/fail">
        <h1 style="font-size:60; color:rgba(236, 236, 236, 1.7);"> Thanks for submitting.<br>We will respond to you soon.</h1>
    </div>
    <div class="form-group">
        <p style="font-size:15px; color:white;">We wish you always be in a good health. <br><u><a href="/book" style="color:rgba(236, 236, 236, 1.7);">Go back to homepage</a></u></p>
    </div>
    </div>
{% endblock %}